@media (min-width: 992px) {
                .tes-div {
                    background-color: lightblue;
                    height: 299px;
                    width: 200px;
                }
            }